@import "scss/mixins";
@import "scss/variables";
.register {
  @include accountArea() {
    .inputArea {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 3rem;

      @include mediaQuery(xs) {
        grid-template-columns: 1fr;
        column-gap: 0;
      }
    }
    .buttons {
      margin-top: 1rem;
      max-width: 50%;
      @include mediaQuery(xs) {
        max-width: 100%;
      }
    }
  }
}
