@import 'scss/mixins';
@import 'scss/keyframes';
@import 'scss/variables';

.newTrip {
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;

  min-height: 100vh;
  box-sizing: border-box;

  // header height is $headerHeight
  padding-top: $headerHeight;
  margin-top: -$headerHeight;

  .tripSelectContainer {
    background-color: rgba(251, 251, 251, 0.8);
    max-width: 54rem;
    flex: 2;
    z-index: 1;

    @include boxShadow(4px, 4px, 4px, 0, 0.15);
    @include animate(enterFromLeft, 400ms);

    > div {
      margin-bottom: 1.5rem;
    }

    input {
      font-size: 1.5rem;
      min-width: 10rem;
    }

    .dateWrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 2.5rem 1.5rem;
      > div {
        flex: 1;
        &:first-of-type {
          margin-right: 1rem;
        }
        &:last-of-type {
          margin-left: 1rem;
        }

        // comment span of inputs
        margin-bottom: 1.2rem;
      }
    }

    .dateWrapper > div {
      > span {
        font-weight: normal;
        font-family: 'Kanit';
      }
    }

    .citiesWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        > div {
            flex: 1;
        }
    }
 
  }

  .googleMapsArea {
    background-color: transparent;
    flex: 1;
    z-index: 0;
  }
}

.background {
  width:100%;
  height:100%;
  position: absolute;
  top:0;
  left:0;
  overflow: hidden;
}
