@import 'scss/mixins';
@import 'scss/variables';
@import 'scss/media';
@import 'scss/keyframes';
.accountDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 35rem;
  border-left: 2px solid $orange;

  > div {
    transform: translateY(22rem);
    margin-top: 2rem;
  }
  @include breakpoint(tablet-portrait) {
    border-left: none;
    border-top: 2px solid $orange;
    margin: 2rem;

    > div {
      transform: translateY(0);
    }
  }

  @include breakpoint(big-desktop) {
    padding-top: 26rem;
  }
  h1 {
    color: $orange;
    font-size: 2.4rem;
    text-align: center;
  }

  .buttons {
    height: 4.5rem;
    width: 60%;
    font-size: 2rem;
    margin: 0 auto;
  }

  .personalDetails {
    padding: 1.5rem;
    width: 100%;
    box-sizing: border-box;

    @include breakpoint(tablet-portrait) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 2rem;
      row-gap: 2rem;
      justify-content: flex-start;
      margin: 2rem 0 2rem 0;
    }
    
    > div {
      margin-bottom: 1rem;
      transition: 0.4s;
      &:hover {
        transform: translateX(5px);
      }
    }
  }

  @include breakpoint(tablet-portrait) {
    flex-basis: 100%;
  }
}
