@import 'scss/mixins';
@import 'scss/variables';

.selectStartingLocationContent {
  padding: 0 0.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 35rem;
  > div {
    flex: 1;

    &[class*='enter-active'] {
      @include animate(jumpIn, 0.3s);
    }

    &[class*='exit-active'] {
      @include animate(jumpIn, 0.3s);
      animation-direction: reverse;
    }

    &.btnArea {
      height: 4.2rem;
      display: flex;
      flex: 1;
      align-items: stretch;
      justify-content: stretch;
      font-size: 2rem;
      margin-top: 1rem;
      > div {
        width: 100%;
      }
    }
  }
  > div:first-of-type {
    flex-basis: 100%;
    margin-bottom: 3rem;
  }
}
