@import 'scss/variables';
@import 'scss/mixins';

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: 0.3s;

  &.hoverable {
    cursor: pointer;
  }

  &.iconOnLeftSide,
  &.iconOnRightSide {
    > p {
      padding: 0 2rem;
    }
  }

  &.iconOnLeftSide {
    flex-direction: row;
  }

  &.iconOnRightSide {
    flex-direction: row-reverse;
  }

  &.button--filled {
    transition: 0.3s;
    background-color: $orange;
    border-radius: 3px;
    > p,
    > div[icon] {
      color: white;
    }

    &.hoverable:hover {
      background-color: darken($orange, 20%);
      transform: translateY(2px);
      > p {
        color: white;
      }

      @include boxShadowMultiple(none);
    }

    @include boxShadowMultiple(
      0px 1px 10px rgba(0, 0, 0, 0.2),
      0px 4px 5px rgba(0, 0, 0, 0.12),
      0px 2px 4px rgba(0, 0, 0, 0.14)
    );
  }

  &.button--emptied {
    transition: 0.3s;
    background-color: white;
    border: 2px solid $orange;
    border-radius: 3px;
    > p,
    > div[icon] {
      color: $orange;
    }

    &.hoverable:hover {
      background-color: $orange;
      transform: translateY(2px);
      > p {
        color: white;
      }

      @include boxShadowMultiple(none);
    }

    @include boxShadowMultiple(
      0px 1px 10px rgba(0, 0, 0, 0.2),
      0px 4px 5px rgba(0, 0, 0, 0.12),
      0px 2px 4px rgba(0, 0, 0, 0.14)
    );
  }

  &.button--default {
    > p,
    > div {
      transition: 0.3s;
      color: $orange;
    }

    > div {
      transform-origin: bottom;
    }
    > p {
      transform-origin: top;
    }
    &.hoverable:hover {
      > p,
      > div {
        transform: scale(0.9);
      }
      @include insetShadow(0, 0, 4px, 0, 0.3);
    }

    &.active {
      background-color: $light-orange;

      > p,
      > div {
        color: white;
      }

      > p {
        text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
      }
      @include insetShadow(0, 0, 4px, 0, 0.2);
    }
  }

  &.button--defaultInverse {
    background-color: $orange;

    > p,
    > div {
      transition: 0.3s;
      color: white;
    }

    > div {
      transform-origin: bottom;
    }
    > p {
      transform-origin: top;
    }
    &.hoverable:hover {
      > p,
      > div {
        transform: scale(0.9);
      }
      @include insetShadow(0, 0, 4px, 0, 0.3);
    }

    &.active {
      background-color: $light-orange;

      > p,
      > div {
        color: $orange;
      }

      > p {
        text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
      }
      @include insetShadow(0, 0, 4px, 0, 0.2);
    }
  }

  &.button--disabled {
    opacity: 0.8;
  }
}
