@import 'scss/mixins';
@keyframes spinner{
    0% {
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}
.icon{
    display:flex;
    justify-content:center;
    align-items: center;

    .icon_spinner{
        @include animate(spinner, 800ms);
        animation-iteration-count: infinite;
    }
}