@import "scss/mixins";
@import "scss/variables";
@keyframes enterIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.register {
  .container {
    > p {
      color: $error;
      text-align: center;
      max-width: 50rem;
      font-size: 1.6rem;
      @include animate(enterIn, 0.3s);
    }
  }
  @include accountArea() {
    .inputArea {
      margin-top: 2rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 3rem;

      @include mediaQuery(xs) {
        grid-template-columns: 1fr;
        column-gap: 0;
      }
    }
    .buttons {
      margin-top: 1rem;
      max-width: 50%;
      @include mediaQuery(xs) {
        max-width: 100%;
      }
    }
  }
}
