@import 'scss/variables';
@import 'scss/mixins';
@import 'scss/keyframes';
.errorMsg {
  min-height: 2.4rem;
  position: relative;

  > p {
    line-height: 2.4rem;
    color: $error;
    text-align: center;
    max-width: 50rem;
    font-size: 1.6rem;
    transition: 400ms;
    text-align: left;
  }

  &.entering {
    > p {
      @include animate(scaleOpacityIn, 0.3s);
    }
  }

  &.exiting {
    > p {
      @include animate(scaleOpacityIn, 0.3s);
      animation-direction: reverse;
    }
  }
}
