@import 'scss/variables';
@import 'scss/mixins';
@import 'scss/media';
.destinationCard {
  position: relative;
  background-color: white;
  border-radius: 3px;
  transform-origin: center;
  transition: 0.3s;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  font-weight: normal;
  font-family: kanit;

  cursor: pointer;

  &:hover {
    transform: scale(0.95);
  }

  > div[icon='times'] {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 1.5rem;
    color: $orange;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }

  > div {
    &:not(:last-of-type) {
      margin-bottom: 0.5rem;
    }
    h1 {
      color: $orange;
      font-size: 1.2rem;
      line-height: 1.2rem;
      font-weight: normal;
    }
    p {
      font-size: 1.4rem;
      color: $primary-black;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &.entering {
    @include animate(jumpIn, 300ms);
  }

  &.exiting {
    transform: scale(0);
    @include animate(jumpIn, 300ms);
    animation-direction: reverse;
  }

  &.selected {
    transform: translateX(20%);
    @include mediaQuery(xs) {
      &:nth-child(even) {
        transform: translateX(20%);
      }
      &:nth-child(odd) {
        transform: translateX(-20%);
      }
    }
  }

  @include boxShadow(0, 0, 4px, 2px, 0.2);
}
