@import 'scss/variables';
@import 'scss/mixins';
.droppingContainer {
  display: flex;
  flex-direction: column;

  > header {
    height: 5.2rem;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0 0.25rem;
    border-radius: 3px;
    background-color: $orange;
    color: white;
    font-size: 1.8rem;

    h1 {
      font-family: 'ChauPhilomeneOne';
      font-weight: normal;
      padding: 0 1rem;
    }

    > div {
      cursor: pointer;
      padding: 0 1rem;

      &:hover {
        transform: scale(1.1);
      }
    }

    @include boxShadow(0, 0, 4px, 2px, 0.2);
  }

  > section {
    position: relative;

    > .content {
      background-color: white;
      margin: 2.5rem 1rem 1.5rem 1rem;

      @include boxShadow(0, 0, 10px, 0, 0.2);
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      width: 0.5rem;
      height: 2.5rem;
      background-color: $primary-black;
      transition: 0.4s;
    }

    &::before {
      left: 2rem;
    }

    &::after {
      right: 2rem;
    }
    transition: max-height 0.4s, padding 0.8s;

    // will be overwritten by JS
    max-height: 100%;
    max-height: 100rem;
  }

  &.minimized {
    > section {
      max-height: 0;
      padding: 0;
    }
  }

  &.minimized > section,
  &.expanding > section {
    overflow: hidden;
  }
}
