@import "./mixins";
@import "./media";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 8px;
  @include mediaQuery(xl) {
    font-size: 10px;
  }

  @include mediaQuery(lg) {
    font-size: 10px;
  }
}

html {
  font-family: 'Shwifty', 'Kanit';
  font-weight: normal;
}

button {
  font-family: 'Shwifty', 'Kanit';
  outline: none;
  background: none;
  border: none;
}

input {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

#root,
#root .App {
  height: 100%;
  width: 100%;
}
