@mixin animate($animationName, $duration, $delay: 0s, $fillMode: forwards) {
  animation-name: $animationName;
  animation-duration: $duration;
  animation-fill-mode: $fillMode;
  animation-delay: $delay;

  -webkit-animation-name: $animationName;
  -webkit-animation-duration: $duration;
  -webkit-animation-fill-mode: $fillMode;
  -webkit-animation-delay: $delay;

  -moz-animation-name: $animationName;
  -moz-animation-duration: $duration;
  -moz-animation-fill-mode: $fillMode;
  -moz-animation-delay: $delay;

  -o-animation-name: $animationName;
  -o-animation-duration: $duration;
  -o-animation-fill-mode: $fillMode;
  -o-animation-delay: $delay;
}

@mixin boxShadow($x, $y, $blur, $spread, $opacity) {
  box-shadow: $x $y $blur $spread rgba(0, 0, 0, $opacity);
  -webkit-box-shadow: $x $y $blur $spread rgba(0, 0, 0, $opacity);
  -moz-box-shadow: $x $y $blur $spread rgba(0, 0, 0, $opacity);
  -o-box-shadow: $x $y $blur $spread rgba(0, 0, 0, $opacity);
}

@mixin boxShadowMultiple($value...) {
  box-shadow: $value;
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  -o-box-shadow: $value;
}

@mixin insetShadow($x, $y, $blur, $spread, $opacity) {
  box-shadow: inset $x $y $blur $spread rgba(0, 0, 0, $opacity);
  -webkit-box-shadow: inset $x $y $blur $spread rgba(0, 0, 0, $opacity);
  -moz-box-shadow: inset $x $y $blur $spread rgba(0, 0, 0, $opacity);
  -o-box-shadow: inset $x $y $blur $spread rgba(0, 0, 0, $opacity);
}

@mixin mediaQuery($size) {
  @if $size == xs {
    @media screen and (max-width: 575px) {
      @content;
    }
  } @else if $size == sm {
    @media screen and (min-width: 576px) and (max-width: 767px) {
      @content;
    }
  } @else if $size == md {
    @media screen and (min-width: 768px) and (max-width: 991px) {
      @content;
    }
  } @else if $size == lg {
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      @content;
    }
  } @else if $size == xl {
    @media screen and (min-width: 1200px) {
      @content;
    }
  } @else if $size == lgOrAbove {
    @media screen and (min-width: 992px) {
      @content;
    }
  }
}

@keyframes fallIn {
  0% {
    transform: translateY(-150%) rotate(7deg)
  }
  100% {
    transform: translateY(-20%) rotate(7deg)
  }
}

@keyframes fallIn2 {
  0% {
    transform: translateY(-150%) rotate(5deg)
  }
  100% {
    transform: translateY(-50%) rotate(5deg);
  }
}

//not reversing these animation with animation-reverse due to needing a new animation name to overwrite
@keyframes fallOut {
  0% {
    transform: translateY(-20%) rotate(7deg)
  }
  100% {
    transform: translateY(-150%) rotate(7deg)
  }
}

@keyframes fallOut2 {
  0% {
    transform: translateY(-50%) rotate(5deg);
  }
  100% {
    transform: translateY(-150%) rotate(5deg)
  }
}
@mixin fancyHeader($withAnimation: false) {
  &::after {
    content: "";
    background-color: $orange;
    width: 120%;
    height: 20%;
    position: absolute;
    transform: rotate(5deg);
    bottom:90%;
  }
  &::before {
    content: "";
    background-color: lighten($orange, 15%);
    width: 120%;
    height: 20%;
    position: absolute;
    transform: rotate(7deg);
    bottom:87%;
  }

  @if ($withAnimation == true) {
    &::before,
    &::after {
      bottom: 80%;
      animation-fill-mode: forwards;
      animation-duration: 0.5s;
    }
    &::before {
      animation-name: fallIn;
      animation-delay: 0.2s;
      transform: translateY(-150%) rotate(7deg);
    }

    &::after {
      animation-name: fallIn2;
      animation-delay: 0.3s;
      transform: translateY(-150%) rotate(5deg);
    }
  }
}

@mixin accountArea() {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
  @include mediaQuery(xs) {
    margin-top: 5rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20rem;

    > div,
    > .inputArea > div {
      margin-bottom: 2rem;
    }

    > .inputArea {
      margin-bottom: 2rem;
      width: 100%;
    }

    > .buttons {
      width: 100%;
      margin-bottom: 2.5rem;
      height: 4.4rem;
      font-size: 2.2rem;
      &.googleBtn {
        background-color: $google;
      }

      @include mediaQuery(xs) {
        height: 5.4rem;
      }
    }
    > .actionLink {
      font-size: 1.4rem;
      cursor: pointer;
      color: rgba(0, 0, 0, 0.6);
      &:hover {
        color: rgba(0, 0, 0, 0.75);
      }
    }
    @include mediaQuery(xs) {
      width: 80%;
    }
  }

  @include fancyHeader(true);

  &.exiting{
    &::before {
      transform: translateY(-20%) rotate(7deg);
      animation-name: fallOut;
      animation-duration: .4s;
    }
    &::after {
      transform: translateY(-50%) rotate(5deg);
      animation-name: fallOut2;
      animation-duration: .3s;
      animation-delay: .1s;
    }
  }

  @content;
}
