@import './keyframes.scss';
@import "scss/media";

@mixin animate($animationName, $duration, $delay: 0s, $fillMode: forwards) {
  animation-name: $animationName;
  animation-duration: $duration;
  animation-fill-mode: $fillMode;
  animation-delay: $delay;

  -webkit-animation-name: $animationName;
  -webkit-animation-duration: $duration;
  -webkit-animation-fill-mode: $fillMode;
  -webkit-animation-delay: $delay;

  -moz-animation-name: $animationName;
  -moz-animation-duration: $duration;
  -moz-animation-fill-mode: $fillMode;
  -moz-animation-delay: $delay;

  -o-animation-name: $animationName;
  -o-animation-duration: $duration;
  -o-animation-fill-mode: $fillMode;
  -o-animation-delay: $delay;
}

@mixin boxShadow($x, $y, $blur, $spread, $opacity, $inset: false) {
  @if $inset == false {
    box-shadow: $x $y $blur $spread rgba(0, 0, 0, $opacity);
    -webkit-box-shadow: $x $y $blur $spread rgba(0, 0, 0, $opacity);
    -moz-box-shadow: $x $y $blur $spread rgba(0, 0, 0, $opacity);
    -o-box-shadow: $x $y $blur $spread rgba(0, 0, 0, $opacity);
  } @else {
    box-shadow: inset $x $y $blur $spread rgba(0, 0, 0, $opacity);
    -webkit-box-shadow: inset $x $y $blur $spread rgba(0, 0, 0, $opacity);
    -moz-box-shadow: inset $x $y $blur $spread rgba(0, 0, 0, $opacity);
    -o-box-shadow: inset $x $y $blur $spread rgba(0, 0, 0, $opacity);
  }
}

@mixin boxShadowMultiple($value...) {
  box-shadow: $value;
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  -o-box-shadow: $value;
}

@mixin insetShadow($x, $y, $blur, $spread, $opacity) {
  box-shadow: inset $x $y $blur $spread rgba(0, 0, 0, $opacity);
  -webkit-box-shadow: inset $x $y $blur $spread rgba(0, 0, 0, $opacity);
  -moz-box-shadow: inset $x $y $blur $spread rgba(0, 0, 0, $opacity);
  -o-box-shadow: inset $x $y $blur $spread rgba(0, 0, 0, $opacity);
}

@mixin fancyHeader($withAnimation: false) {
  &::after {
    content: '';
    background-color: $orange;
    width: 120%;
    height: 20%;
    position: absolute;
    transform: rotate(5deg);
    bottom: 90%;
  }
  &::before {
    content: '';
    background-color: lighten($orange, 15%);
    width: 120%;
    height: 20%;
    position: absolute;
    transform: rotate(7deg);
    bottom: 87%;
  }

  @if ($withAnimation == true) {
    &::before,
    &::after {
      bottom: 80%;
      animation-fill-mode: forwards;
      animation-duration: 0.5s;
    }
    &::before {
      animation-name: fallIn;
      animation-delay: 0.2s;
      transform: translateY(-150%) rotate(7deg);
    }

    &::after {
      animation-name: fallIn2;
      animation-delay: 0.3s;
      transform: translateY(-150%) rotate(5deg);
    }
  }
}

@mixin accountArea() {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
  @include mediaQuery(xs) {
    margin-top: 5rem;
  }
  min-height: 100%;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20rem;

    > div,
    > .inputArea > div {
      margin-bottom: 2rem;
    }

    > .inputArea {
      margin-bottom: 2rem;
      width: 100%;
    }

    > .buttons {
      width: 100%;
      margin-bottom: 2.5rem;
      height: 4.4rem;
      font-size: 2.2rem;
      &.googleBtn {
        background-color: $google;
      }

      &.facebookBtn {
        background-color: $facebook;
      }

      @include mediaQuery(xs) {
        height: 5.4rem;
      }
    }
    > .actionLink {
      font-size: 1.4rem;
      cursor: pointer;
      color: rgba(0, 0, 0, 0.6);
      &:hover {
        color: rgba(0, 0, 0, 0.75);
      }
    }
    @include mediaQuery(xs) {
      width: 80%;
    }
  }

  @include fancyHeader(true);

  &.exiting {
    &::before {
      transform: translateY(-20%) rotate(7deg);
      @include animate(fallOut, 400ms);
    }
    &::after {
      transform: translateY(-50%) rotate(5deg);
      @include animate(fallOut2, 300ms, 100ms);
    }
    .container {
      @include animate(slideHalfDownFadeOut, 400ms);
    }
  }

  &:not(.exiting) {
    .container {
      @include animate(slideHalfUpFadeIn, 400ms);
    }
  }

  @content;
}
