$orange: #e8b558;
$google: #CF4332;
$facebook: #4267b2;
$error: #FF9494;
$light-orange: lighten($orange, 27%);
$soft-orange: #f6cb7b;
$primary-black: #615F5F;
$soft-blue: #def7ff;
$blue: #A1E6ED;

$headerHeight: 6.2rem;

@font-face {
  font-family: "Shwifty";
  src: url("../assets/fonts/ChauPhilomeneOne-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Kanit";
  font-weight: 100;
  src: url("../assets/fonts/Kanit-Light.ttf");
}

@font-face {
  font-family: "Kanit";
  font-weight: normal;
  src: url("../assets/fonts/Kanit-Regular.ttf");
}

@font-face {
  font-family: "Kanit";
  font-weight: bold;
  src: url("../assets/fonts/Kanit-Bold.ttf");
}

@font-face {
  font-family: "ChauPhilomeneOne";
  font-weight: normal;
  src: url("../assets/fonts/ChauPhilomeneOne-Regular.ttf");
}
